<table class="tableData">
    <tr>
        <th class="tableHead">Sepal.Length</th>
        <th class="tableHead">Sepal.Width</th>
        <th class="tableHead">Petal.Length</th>
        <th class="tableHead">Petal.Length</th>
        <th class="tableHead">Species</th>
    </tr>
    <tr>
        <td class="tableData">1.2</td>
        <td class="tableData">3.2</td>
        <td class="tableData">5.2</td>
        <td class="tableData">3.2</td>
        <td class="species1">setosa</td>
    </tr>
    <tr>
        <td class="tableHead">1.2</td>
        <td class="tableHead">3.2</td>
        <td class="tableHead">5.2</td>
        <td class="tableHead">3.2</td>
        <td class="species">setosa</td>
    </tr>
    <tr>
        <td class="tableData">1.2</td>
        <td class="tableData">3.2</td>
        <td class="tableData">5.2</td>
        <td class="tableData">3.2</td>
        <td class="species1">setosa</td>
    </tr>
    <tr>
        <td class="tableHead">1.2</td>
        <td class="tableHead">3.2</td>
        <td class="tableHead">5.2</td>
        <td class="tableHead">3.2</td>
        <td class="species">setosa</td>
    </tr>
</table>