<table class="tableContent" align="center">
    <tr>
        <td class="col1"></td>
        <td class="names">John</td>
        <td class="names">Daniel</td>
        <td class="names">Cordilia</td>
        <td class="names">Andrew</td>
    </tr>
    <tr>
        <td class="col1">Tool</td>
        <td class="names">pickaxesp</td>
        <td class="names">gun</td>
        <td class="names">chainsaw</td>
        <td class="names">ax</td>
    </tr>
    <tr>
        <td class="col1">Color pants</td>
        <td class="colors">Blue</td>
        <td class="colors">red</td>
        <td class="colors">purple</td>
        <td class="colors">green</td>
    </tr>
    <tr>
        <td class="col1">Blouse color</td>
        <td class="colors">brown</td>
        <td class="colors">white</td>
        <td class="colors">yellow</td>
        <td class="colors">lightgreen</td>
    </tr>
</table>