<table class="tableContent" cellspacing="0">
    <caption>Advanced HTML tag for table using thead</caption>
    <tr>
        <th class="headings" colspan="3">Purchase order:5363845</th>
        <th class="headings">Tutorialbrain:29-12-2021</th>
    </tr>
    <tr>
        <td class="address" colspan="2"><span class="headings1">VENDOR:</span><br>
            ABC XYZ<br>
            ABC STREET<br>
            YERRAGONDAPALEM,523327
        </td>
        <td class="address" colspan="2"><span class="headings1">SHIP TO:</span><br>
            ABC XYZ<br>
            ABC STREET<br>
            YERRAGONDAPALEM,523327
        </td>
    </tr>
    <tr>
        <th class="headings">Qty</th>
        <th class="headings">Item Code</th>
        <th class="headings">Description</th>
        <th class="headings">Unit Price</th>
    </tr>
    <tr>
        <td class="itemDetails">100</td>
        <td class="itemDetails">12345</td>
        <td class="itemDetails">Mobiles</td>
        <td class="itemDetails">10000.00</td>
    </tr>
    <tr>
        <td class="itemDetails">100</td>
        <td class="itemDetails">12345</td>
        <td class="itemDetails">Mobiles</td>
        <td class="itemDetails">10000.00</td>
    </tr>
    <tr>
        <td class="itemDetails">100</td>
        <td class="itemDetails">12345</td>
        <td class="itemDetails">Mobiles</td>
        <td class="itemDetails">10000.00</td>
    </tr>
    <tr>
        <td class="headings" colspan="3">Subtotal</td>
        <td class="itemDetails">30000.00</td>
    </tr>
    <tr>
        <td class="headings" colspan="2">GST</td>
        <td class="itemDetails">5%</td>
        <td class="itemDetails">500.00</td>
    </tr>
    <tr>
        <td class="headings" colspan="3">Grand Total</td>
        <td class="itemDetails">30500.00</td>
    </tr>
</table>