<table class="tableContent">
    <tr>
        <th class="tableHeading">Person</th>
        <th class="tableHeading">Age</th>
    </tr>
    <tr>
        <td class="personName">Chris</td>
        <td class="personAge">38</td>
    </tr>
    <tr>
        <td class="personName">Dennis</td>
        <td class="personAge">45</td>
    </tr>
    <tr>
        <td class="personName">Sarah</td>
        <td class="personAge">29</td>
    </tr>
    <tr>
        <td class="personName">Karen</td>
        <td class="personAge">47</td>
    </tr>
</table>