<table class="tableContent">
    <caption class="tableCaption">Employee Table</caption>
    <tr>
        <th class="empAttributes">EmpId</th>
        <th class="empAttributes">EmpName</th>
        <th class="empAttributes">EmpDept</th>
        <th class="empAttributes">EmpSalary</th>
    </tr>
    <tr>
        <td>101</td>
        <td>Joe</td>
        <td>Development</td>
        <td>50000</td>
    </tr>
    <tr>
        <td class="empData">102</td>
        <td class="empData">Mary</td>
        <td class="empData">Testing</td>
        <td class="empData">30000</td>
    </tr>
    <tr>
        <td>103</td>
        <td>Beck</td>
        <td>Analyst</td>
        <td>40000</td>
    </tr>
    <tr>
        <td class="empData">104</td>
        <td class="empData">Candace</td>
        <td class="empData">Development</td>
        <td class="empData">45000</td>
    </tr>
</table>