<table class="tableData" cellspacing="0px">
    <caption><h4>Travel Expense Report</h4></caption>
    <tr>
        <th class="headings"></th>
        <th class="headings">Meals</th>
        <th class="headings">Hotels</th>
        <th class="headings">Transport</th>
        <th class="headings">Sub Total</th>
    </tr>
    <tr>
        <td>sreenivas</td>
        <td colspan="3"></td>
        <td></td>
    </tr>
    <tr>
        <td>11-12-2021</td>
        <td>30.00</td>
        <td>30.00</td>
        <td>30.00</td>
    </tr>
    <tr>
        <td>22-11-2021</td>
        <td>30.00</td>
        <td>30.00</td>
        <td>30.00</td>
    </tr>
    <tr>
        <td class="subtotal">subtotal</td>
        <td class="subtotal">60.00</td>
        <td class="subtotal">60.00</td>
        <td class="subtotal">60.00</td>
        <td class="subtotal">180.00</td>
    </tr>
    <tr>
        <td>nemalipuri</td>
        <td colspan="3"></td>
        <td></td>
    </tr>
    <tr>
        <td>11-12-2021</td>
        <td>30.00</td>
        <td>30.00</td>
        <td>30.00</td>
    </tr>
    <tr>
        <td>22-11-2021</td>
        <td>30.00</td>
        <td>30.00</td>
        <td>30.00</td>
    </tr>
    <tr>
        <td class="subtotal">subtotal</td>
        <td class="subtotal">60.00</td>
        <td class="subtotal">60.00</td>
        <td class="subtotal">60.00</td>
        <td class="subtotal">180.00</td>
    </tr>
    <tr>
        <td class="total">Totals</td>
        <td class="total">120.00</td>
        <td class="total">120.00</td>
        <td class="total">120.00</td>
        <td class="total">360.00</td>
    </tr>
</table>