<div class>
<table class="tableContent" cellspacing="0">
    <tr>
        <th class="tableHeadings"><input type="checkbox" /></th>
        <th class="tableHeadings">Status</th>
        <th class="tableHeadings">Signal Name</th>
        <th class="tableHeadings">Severity</th>
        <th class="tableHeadings">Stage</th>
        <th class="tableHeadings">Schedule</th>
        <th class="tableHeadings">Project Team Lead</th>
    </tr>
    <tr>
        <td class="tableData"><input type="checkbox" /></td>
        <td class="tableData">Online</td>
        <td class="tableData">Astrid: NE sharedmanaged-features-provider-heavy</td>
        <td class="tableData">Medium</td>
        <td class="tableData">Triaged</td>
        <td class="tableData">0.33</td>
        <td class="tableData">Chase Nguyen</td>
    </tr>
    <tr class="middleRow">
        <td class="middleRow"><input type="checkbox" /></td>
        <td class="middleRow">Online</td>
        <td class="middleRow">Astrid: NE sharedmanaged-features-provider-heavy</td>
        <td class="middleRow">Medium</td>
        <td class="middleRow">Triaged</td>
        <td class="middleRow">0.33</td>
        <td class="middleRow">Chase Nguyen</td>
    </tr>
    <tr>
        <td class="tableData"><input type="checkbox" /></td>
        <td class="tableData">Online</td>
        <td class="tableData">Astrid: NE sharedmanaged-features-provider-heavy</td>
        <td class="tableData">Medium</td>
        <td class="tableData">Triaged</td>
        <td class="tableData">0.33</td>
        <td class="tableData">Chase Nguyen</td>
    </tr>
    <tr>
        <td class="tableData"><input type="checkbox" /></td>
        <td class="tableData">Online</td>
        <td class="tableData">Astrid: NE sharedmanaged-features-provider-heavy</td>
        <td class="tableData">Medium</td>
        <td class="tableData">Triaged</td>
        <td class="tableData">0.33</td>
        <td class="tableData">Chase Nguyen</td>
    </tr>
    
</table>
</div> 
