<table class="tableContent" cellspacing="0">
    <tr>
        <td rowspan="11" class="headings">TCB</td>
        <td class="headings">Order No:</td>
        <td class="tableData" colspan="3">#ABC001</td>
    </tr>
    <tr>
        <td class="headings">Order Date:</td>
        <td class="tableData" colspan="3">23-Mar-2021</td>
    </tr>
    <tr>
        <th class="headings" colspan="4">Customer</th>
    </tr>
    <tr>
        <td class="headings">Name:</td>
        <td class="tableData" colspan="3">Sreenivas</td>
    </tr>
    <tr>
        <td class="headings">Address:</td>
        <td class="tableData" colspan="3">Yerragondapalem,523327</td>
    </tr>
    <tr>
        <th class="headings" colspan="4">Order Details</th>
    </tr>
    <tr>
        <td class="tableData">1</td>
        <td class="tableData">MI</td>
        <td class="tableData">Mobile Phone</td>
        <td class="price">10.00</td>
    </tr>
    <tr>
        <td class="tableData">2</td>
        <td class="tableData">Samsung</td>
        <td class="tableData">Book</td>
        <td class="price">10.00</td>
    </tr>
    <tr>
        <td class="tableData">3</td>
        <td class="tableData">MI</td>
        <td class="tableData">Book</td>
        <td class="price">10.00</td>
    </tr>
    <tr>
        <td class="tableData">4</td>
        <td class="tableData">MI</td>
        <td class="tableData">Book</td>
        <td class="tableData">1000.00</td>
    </tr>
    <tr>
        <td class="totalHeading" colspan="3">Total:</td>
        <td class="tableData">1030.00</td>
    </tr>
</table>