<table class="tableContent" cellpadding="5" cellspacing="0">
    <tr>
        <th class="headings">Band</th>
        <th class="headings">Year Formed</th>
        <th class="headings">No.Of Albums</th>
        <th class="headings">Most Famous Songs</th>
    </tr>
    <tr class="rowColor">
        <td>Buzzcocks</td>
        <td>2000</td>
        <td>10</td>
        <td>London Calling</td>
    </tr>
    <tr class="rowColor1">
        <td>Buzzcocks</td>
        <td>2000</td>
        <td>10</td>
        <td>London Calling</td>
    </tr>
    <tr class="rowColor">
        <td>Buzzcocks</td>
        <td>2000</td>
        <td>10</td>
        <td>London Calling</td>
    </tr>
    <tr class="rowColor1">
        <td>Buzzcocks</td>
        <td>2000</td>
        <td>10</td>
        <td>London Calling</td>
    </tr>
    <tr>
        <th class="headings1" colspan="2">Total Albums</th>
        <th  class="headings2" colspan="2">40</th>
    </tr>
</table>