<table class="tableData" cellspacing="0">
    <tr>
        <th class="headings" colspan="5">Community-1997</th>
    </tr>
    <tr>
        <th class="headings">Course Name</th>
        <th class="headings">Course Tuter</th>
        <th class="headings">Summary</th>
        <th class="headings">Code</th>
        <th class="headings">Fee</th>
    </tr>
    <tr>
        <td class="tableContent">JAVA</td>
        <td class="tableContent">Sreenivas</td>
        <td class="tableContent"><p>Java is a high-level, class-based,
            object-oriented programming language
             that is designed to have as few
             implementation dependencies as possible.</p></td>
        <td class="tableContent">333</td>
        <td class="tableContent">300</td>
    </tr>
    <tr>
        <td class="tableContent">ANGULAR</td>
        <td class="tableContent">Nemalipuri</td>
        <td class="tableContent"><p>Java is a high-level, class-based, </p>
            object-oriented programming language
             that is designed to have as few 
             <p>implementation dependencies as possible.</p></td>
        <td class="tableContent">222</td>
        <td class="tableContent">200</td>
    </tr>
    <tr>
        <td class="tableContent">PYTHON</td>
        <td class="tableContent">Nemalipuri</td>
        <td class="tableContent"><p>Java is a high-level, class-based, 
            object-oriented programming 
            language that is designed to have as few 
            implementation dependencies as possible.</p></td>
        <td class="tableContent">111</td>
        <td class="tableContent">100</td>
    </tr>
</table>