<table class="tableContent">
    <tr>
        <th rowspan="2" class="stuAttributes">Heading</th>
        <th class="stuAttributes">Students</th>
        <th class="stuAttributes" colspan="3">Details</th>
    </tr>
    <tr>
        <th class="stuAttributes">Id</th>
        <th class="stuAttributes">Name</th>
        <th class="stuAttributes">Department</th>
        <th class="stuAttributes">Roll Number</th>
    </tr>
    <tr>
        <td rowspan="4" class="stuDetails">Student List</td>
        <td class="stuDetails">1</td>
        <td class="stuDetails">Victor</td>
        <td class="stuDetails">Computer science</td>
        <td class="stuDetails">12345</td>
    </tr>
    <tr>
        <td class="stuDetails">2</td>
        <td class="stuDetails">Williams</td>
        <td class="stuDetails">Electronics</td>
        <td class="stuDetails">23456</td>
    </tr>
    <tr>
        <td class="stuDetails">3</td>
        <td class="stuDetails">Harry</td>
        <td class="stuDetails">Electrical</td>
        <td class="stuDetails">34567</td>
    </tr>
    <tr>
        <td class="stuDetails">4</td>
        <td class="stuDetails">Williams</td>
        <td class="stuDetails">Civil</td>
        <td class="stuDetails">45678</td>
    </tr>
</table>