<table class="tableContent">
    <tr>
        <th class="studentAttributes"> Sr.No</th>
        <th class="studentAttributes"> Roll No</th>
        <th class="studentAttributes"> Names</th>
        <th class="studentAttributes"> Team</th>
    </tr>
    <tr>
        <td class="studentNos"> 1</td>
        <td class="studentData"> 1001</td>
        <td class="studentData"> john</td>
        <td class="studentData">Red</td>
    </tr>
    <tr>
        <td class="studentNos"> 2</td>
        <td class="studentData"> 1002</td>
        <td class="studentData"> Peter</td>
        <td class="studentData">Blue</td>
    </tr>
    <tr>
        <td class="studentNos"> 3</td>
        <td class="studentData"> 1003</td>
        <td class="studentData"> Henry</td>
        <td class="studentData">Green</td>
    </tr>
</table>
